<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RestApiUrl" value="https://data.gov.hr/api/2/rest/package/slobodna-radna-mjesta-po-zanimanju"></add>
  </appSettings>
</configuration>